::-webkit-scrollbar
{
    display: none;
}
body
{
    margin: 0px;
    width: 100%;
    height: 100%;
    background-image: url("../assets/fond.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3, h4, h5, h6, p
{
    margin: 0px;
}

header
{
    position: fixed;
    width: 100%;
    height: auto;
    position: relative;
    top: 0px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

header h2
{
    position: absolute;
    left: 80px;
    font-size: 2em;
}

.button
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

#download,#apercu, #retour
{
    width: 10%;
    height: 35px;
    outline: none;
    border-radius: 100px;
    border: none;
    padding: 20px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    
    border-radius: 50px;
    border: 1px solid white;
    color: white;
    font-weight: normal;
    font-size: 1.2em;
    margin: 10px 10px;
}

#download
{
    background-color: rgb(47, 47, 189);
}

#apercu
{
    background-color: rgb(47, 47, 189);
}

#retour
{
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    color: black;
}

#download:hover, #retour:hover, #apercu:hover
{
    cursor: pointer;
}

main
{
    width: 100%;
    height: 100%;
}

.boite
{
    position: fixed;
    width: 423px;
    overflow-y: scroll;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(-45deg, rgb(54, 54, 160), rgb(41, 41, 139));
    border-radius: 0px 0px 0px 0px;
    animation: apparition2 1100ms ease-in-out both;
    margin-left: 10%;
}

#boite2
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(-45deg, rgb(54, 54, 160), rgb(41, 41, 139));
    border-radius: 0px 0px 0px 0px;
}

#boite2 input
{
    width: 80%;
    padding: 5px 5px;
    height: 30px;
    border-radius: 20px;
    outline: none;
    border: none;
}

#boite2 select
{
    width: 85%;
    padding: 5px 5px;
    height: 30px;
    border-radius: 20px;
    outline: none;
    border: none;
}

#boite2 textarea
{
    width: 80%;
    padding: 5px 10px;
    border-radius: 20px;
    outline: none;
    border: none;
    margin-bottom: 8vh;
}

#boite2 .flabel
{
    margin-top: 20px;
}

#boite2 label
{
    color: white;
    font-size: 1.2em;
    width: 80%;
}



input:hover
{
    cursor: pointer;
}



#content
{
    position: fixed;
    margin-left: 45%;
    top: 100px;
    width: 800px;
    height: 800px;
    background-color: white;
    animation: apparition 1000ms ease-in-out both;
    border-radius: 5px;
    margin-right: 20%;
}

#content #titre
{
    margin-top: 40px;
}

#content p
{
    margin: 0px 10px;
    font-size: 1.2em;
}

#content h3
{
    margin-top: 10px;
    margin-left: 10px;
}

#content #modifier
{
    margin-top: 0px;
}

#editor
{
    display: none;
}

#content #signature
{
    width: 150px;
    height: 80px;
    border: 2px solid black;
    position: absolute;
    bottom: 40px;
    right: 60px;
}

@keyframes apparition {
    0%
    {
        opacity: 0;
        transform: translateY(100px);
    }

    100%
    {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes apparition2 {
    0%
    {
        opacity: 0;
        transform: translateX(-100%);
    }

    100%
    {
        opacity: 1;
        transform: translateX(0%);
    }
}